.btnm{
    background: #B22222;
    border-radius: 60px;
    color: white;
    text-align: center;

}
.btne{
    background: #B22222;
    border-radius: 60px;
    color: white;
    text-align: center;

}
/*.title{
 /* width: 524px;
height: 50px;
left: 355px;
top: 48px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 100px;
line-height: 117px;
text-align: center; */

/* color: #B22222;
text-align: center;
} */